#!/bin/sh

redis_output=`/usr/lib/nagios/plugins/check_redis.pl -H localhost`
if [ $? -eq 0 ] ; then
    status=0
    statustxt=OK
elif [ $? -eq 1 ] ; then
    status=1
    statustxt=WARNING
else
    status=2
    statustxt=CRITICAL
fi
echo "$status Redis - $redis_output"
