/* {{ ansible_managed }} */

library "db_ido_mysql"

object IdoMysqlConnection "ido-mysql" {
  user = "{{ idodbuser }}",
  password = "{{ idodbpass }}",
  host = "localhost",
  database = "{{ idodbname }}"
}

