[icingaweb_db]
type = "db"
db = "mysql"
host = "localhost"
port = ""
dbname = "{{ webdbname }}"
username = "{{ webdbuser }}"
password = "{{ webdbpass }}"
charset = ""
persistent = "0"

[icinga_ido]
type = "db"
db = "mysql"
host = "localhost"
port = ""
dbname = "{{ idodbname }}"
username = "{{ idodbuser }}"
password = "{{ idodbpass }}"
charset = ""
persistent = "0"
