/* {{ ansible_managed }} */

/*
 * Endpoint and Zone configuration for a cluster setup
 * This local example requires `NodeName` defined in
 * constants.conf.
 */

object Endpoint "{{ ansible_fqdn }}" {
}

object Zone "master" {
	//this is the local node master named  = "master"
	endpoints = [ "{{ ansible_fqdn }}" ]
}

/*
 * Defines a global zone containing templates,
 * etc. synced to all nodes, if they accept
 * configuration. All remote nodes need
 * this zone configured too.
 */

object Zone "global-templates" {
  global = true
}
