# {{ ansible_managed }}

object Service "vsftpd" {
  import "generic-service"

  check_command = "ftp"
  host_name = "{{ inventory_hostname }}"

{% if vsftpd_listen_port is defined %}
  vars.ftp_port = "{{ vsftpd_listen_port }}"  
{% else %}
  vars.ftp_port = "990"  
{% endif %}
}
