#jinja2: lstrip_blocks: True
# {{ ansible_managed }}
# include all vhosts in one file, only execute postscripts on last item
# (to avoid segfaults with apache2 restarts)
{% for item in vhosts %}
{% if not item.delete|default(False) %}

{{ item.basedir }}/logs/*log {
  weekly
  missingok
  rotate 52
  compress
  notifempty
  create 640 root {{ item.owner }}
  {% if loop.last %}
  sharedscripts
  postrotate
    /etc/init.d/apache2 reload > /dev/null
  endscript
  prerotate
    if [ -d /etc/logrotate.d/httpd-prerotate ]; then \
      run-parts /etc/logrotate.d/httpd-prerotate; \
    fi; \
  endscript
  {% endif %}
}
{% endif %}
{% endfor %}
