#jinja2: lstrip_blocks: True
# {{ ansible_managed }}
# include all vhosts in one file, only execute postscripts on last item
# (to avoid segfaults with apache2 restarts)
{% set existingdirs = [] %}
{% for item in vhosts %}
{% if not item.delete|default(False) %}
{% if item.basedir not in existingdirs %}
{% set existingdirs = existingdirs.append(item.basedir) %}
{{ item.basedir }}/logs/*log {
  {{ logrotate_rotate.when }}
  missingok
  rotate {{ logrotate_rotate.keep }}
  compress
  notifempty
  create 640 root {{ item.owner }}
  {% if loop.last %}
  sharedscripts
  postrotate
    if /etc/init.d/apache2 status > /dev/null ; then \
      /etc/init.d/apache2 restart > /dev/null; \
    fi;
    # also restart nginx reverse proxy (*ssl* logs) if available
    if /etc/init.d/nginx status > /dev/null ; then \
      /etc/init.d/nginx restart > /dev/null; \
    fi;
  endscript
  prerotate
    if [ -d /etc/logrotate.d/httpd-prerotate ]; then \
      run-parts /etc/logrotate.d/httpd-prerotate; \
    fi; \
  endscript
  {% endif %}
}
{% endif %}
{% endif %}
{% endfor %}
