## munin config file for host {{ inventory_hostname }}
## {{ ansible_managed }}

[{{ group_names[0] }};{{ inventory_hostname }}]
{% if monitoring_over_ssh %}
  address ssh://{{ ansible_ssh_host }} -W localhost:4949
{% else %}
  address {{ ansible_ssh_host }}
{% endif %}
  use_node_name yes

