Cmnd_Alias CRON = sudoedit /etc/cron.d/drupal
Cmnd_Alias F2B = /usr/bin/fail2ban-client set sshd unbanip *
Cmnd_Alias WWWDATA = /usr/local/bin/www-data-shell
Cmnd_Alias CHOWN = /bin/chown -R www-data*

%developers     ALL = (root) NOPASSWD: CRON,F2B,WWWDATA,CHOWN
