template Notification "slack-notifications-user-configuration" {
    import "slack-notifications-default-configuration"

    vars.slack_notifications_webhook_url = "{{ slack_webhook }}"
    vars.slack_notifications_icinga2_base_url = "https://{{ ansible_fqdn }}/icingaweb2"
    vars.slack_notifications_channel = "{{ slack_channel }}"
    vars.slack_notifications_botname = "icinga2"
}

template Notification "slack-notifications-user-configuration-hosts" {
    import "slack-notifications-default-configuration-hosts"
}

template Notification "slack-notifications-user-configuration-services" {
    import "slack-notifications-default-configuration-services"
}
