; {{ ansible_managed }}
; configuration for php PECL {{ item|replace("php5-", "") }} extension
; priority=20
{% if php_pecl_inactive_extensions is defined and item in php_pecl_inactive_extensions %}
;extension={{ item|replace("php5-", "") }}.so
{% else %}
{% if item|replace("php5-", "") == "zendopcache" %}
zend_extension=/usr/lib/php5/20100525/zendopcache.so
{% else %}
extension={{ item|replace("php5-", "") }}.so
{% endif %}
{% endif %}
{% if item|replace("php5-", "") == "zendopcache" %}
opcache.enable=1
opcache.memory_consumption=128
opcache.interned_strings_buffer=8
opcache.max_accelerated_files=4000
opcache.revalidate_freq=60
opcache.fast_shutdown=1
opcache.enable_cli=0
{% endif %}
