<VirtualHost *:{% if varnish_required == True %}8080{% else %}80{% endif %}>
	ServerAdmin {{ admin.email }}
	ServerName {{ inventory_hostname }}
	ServerAlias {{ ansible_ssh_host }}
	ServerAlias localhost
        ServerAlias 127.0.0.1

	DocumentRoot {{ adminhost_docroot }}
	<Directory />
		Options FollowSymLinks
		AllowOverride None
	</Directory>
	<Directory {{ adminhost_docroot }}>
		Options FollowSymLinks
		AllowOverride None
                Require all granted
	</Directory>

        <filesmatch "\.php">
    {% if ansible_distribution == 'Debian' and ansible_distribution_major_version is version('9', '<') %}
          SetHandler "proxy:unix:/var/run/php5-fpm-www-data.sock|fcgi://www-data"
    {% elif ansible_distribution == 'Debian' and ansible_distribution_major_version is version('9', '==') %}
          SetHandler "proxy:unix:/run/php/php7.0-fpm.sock|fcgi://www-data"
    {% else %}
          SetHandler "proxy:unix:/run/php/php7.3-fpm.sock|fcgi://www-data"
    {% endif %}
        </filesmatch>

	<IfModule proxy_module>
        <Proxy "fcgi://www-data/">
	  ProxySet connectiontimeout=5 timeout=121 acquire=1000
        </Proxy>
	</IfModule>

	ErrorLog ${APACHE_LOG_DIR}/error.log

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog ${APACHE_LOG_DIR}/access.log combined

	{% if 'infra' not in group_names %}
	IncludeOptional /etc/apache2/admin.d/*.conf
	{% endif %}

	RewriteEngine On
	RewriteRule ^/$	https://{{ inventory_hostname }}$1 [R=301,L]
</VirtualHost>
