{% if varnish_required == True %}
Listen 8080
{% else %}
Listen 80
{% endif %}

{% if not nginx_required | default(False) %}
{# only listen on 443 in case we don't use nginx to terminate https #}
<IfModule mod_ssl.c>
    Listen 443
</IfModule>

<IfModule mod_gnutls.c>
    Listen 443
</IfModule>
{% endif %}
