object Service "solr_ping" {
  import "generic-service"

  check_command = "http"
  host_name = "{{ inventory_hostname }}"

  vars.http_port = "8983"  
  vars.http_vhost = "localhost"
  vars.http_uri = "/solr/{{ solr_cores[0].name }}/admin/ping"
  vars.http_auth_pair = "{{ solr_cores[0].name }}:{{ solr_cores[0].pass }}"
}
