#!/bin/bash

if [ -z "$1" ] || [ ! -z "$2" ]
  then
    printf "Possible: info | init | list | backup | mount \n\n"
fi

# Sourcing the backup-passphrase

. /root/.borg.passphrase

# Small helper commands, like listing backups, will help us in the future :)

if [ "$1" = "info" ]
  then
    if [ -z "$2" ]; then printf "run $0 with list and use the backup-tag to request information\n"; exit 1; fi
{% for b in backupservers %}
    REPOSITORY={{ b.user }}@{{ b.fqdn }}:{{ b.home }}{{ b.pool }}/{{ inventory_hostname }}
    /usr/local/bin/borg info $REPOSITORY::$2 {{ b.options }}
{% endfor %}
    exit 0
fi

if [ "$1" = "mount" ]
  then
    if [ -z "$2" ]; then printf "Select the backup-server\n"; exit 1; fi
    if [ -z "$3" ]; then printf "Select the backup to mount\n"; exit 1; fi
    if [ -z "$4" ]; then printf "Select the path to mount the backup on\n"; exit 1; fi
{% for b in backupservers %}
    REPOSITORY={{ b.user }}@{{ b.fqdn }}:{{ b.home }}{{ b.pool }}/{{ inventory_hostname }}
    /usr/local/bin/borg mount $REPOSITORY::$3 $4 {{ b.options }}
    if [ "$?" = "0" ]; then printf "Backup mounted on $4, do not forget to unmount!\n"; fi
    exit 0
{% endfor %}
fi

if [ "$1" = "list" ]
  then
{% for b in backupservers %}
    REPOSITORY={{ b.user }}@{{ b.fqdn }}:{{ b.home }}{{ b.pool }}/{{ inventory_hostname }}
    printf "Archives on {{ b.fqdn }} :\n"
    /usr/local/bin/borg list -v $REPOSITORY {{ b.options }}
{% endfor %}
    exit 0
fi

if [ "$1" = "init" ]
  then
{% for b in backupservers %}
    REPOSITORY={{ b.user }}@{{ b.fqdn }}:{{ b.home }}{{ b.pool }}/{{ inventory_hostname }}
    borg init $REPOSITORY {{ b.options }}
{% endfor %}
    exit 0
fi

if [ "$1" = "backup" ]
  then
    date=`date +%Y%m%d-%H%M`

    # Running some commands pre-backup
{% for precommand in backup_pre_commands %}
    {{ precommand }}
{% endfor %}

{% for b in backupservers %}
    printf "Backing up to {{ b.fqdn }} :\n"
    REPOSITORY={{ b.user }}@{{ b.fqdn }}:{{ b.home }}{{ b.pool }}/{{ inventory_hostname }}
    
    /usr/local/bin/borg create --compression zlib,6 --stats $REPOSITORY::$date {{ b.options }} {% for dir in backup_include %}{{ dir }} {% endfor %}{% if automysql.stat.isdir is defined and automysql.stat.isdir == True %}/var/lib/automysqlbackup{% endif %}

    if [ "$?" -eq "0" ]; then printf "Backup succeeded on $date\n" >> /var/log/borg-backup.log; fi
  
    # Use the `prune` subcommand to maintain 7 daily, 4 weekly
    # and 6 monthly archives.
    /usr/local/bin/borg prune -v $REPOSITORY {{ b.options }} -H {{ retention.hourly }} -d {{ retention.daily }} -w {{ retention.weekly }} -m {{ retention.monthly }} -y {{ retention.yearly }}
{% endfor %}
fi

